@import "footer.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "poppins", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 40px;
  row-gap: 80px;
  /* border: 1px solid black; */
  width: 1200px;
  margin: 0 auto;
}

.main-header {
  /* border: 1px solid black; */
  padding: 20px 0;
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.row {
  /* border: 1px solid black; */
  grid-column: 1/2;
  display: grid;
  row-gap: 40px;
}

.blog-row {
  display: flex;
  gap: 10px;
  align-items: center;
}

.asides {
  /* align-self: start; */
  width: 300px;
  grid-column: 2;
  /* grid-row: 2; */
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.aside-box {
  width: 300px;
  background-color: #ebebeb;
  padding: 30px 20px;
}
.aside-header {
  margin-bottom: 20px;
  color: #3a414e;
  font-size: 18px;
  font-weight: 700;
  position: relative;
}

.aside-header::after {
  content: "";
  width: 25%;
  height: 5px;
  background: orange;
  position: absolute;
  top: 28px;
  display: block;
}

.category-list {
  list-style: none;
}

.category-item {
  background-color: #fff;
  padding: 15px 20px;
  margin-bottom: 8px;
  /* padding: 0 10px; */
}

.category-link:link {
  display: flex;
  text-decoration: none;
  justify-content: space-between;
  align-items: center;
  color: #797979;
  font-size: 14px;
}

.category-link:hover {
  color: #ffb938;
}

.subscribe-input {
  display: block;
  margin-bottom: 10px;
  padding: 15px;
  width: 100%;
}

.subscribe-button {
  padding: 15px;
  background: #3a414e;
  color: #ffb938;
  border: none;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.5px;
}
