@import "header.css";
@import "asides.css";
@import "footer.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "poppins", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 40px;
  row-gap: 40px;
  /* border: 1px solid black; */
  width: 1100px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.row {
  grid-column: 1;
  row-gap: 40px;
}

.landing {
  grid-column: 1 / -1;
  position: relative;
}

.landing-text {
  position: absolute;
  left: 180px;
  top: 100px;
  color: #fff;
  font-size: 50px;
}

.landing-img {
  width: 100%;
  height: auto;
}

/*POST*/

.post-row {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
  align-items: center;
  margin-bottom: 30px;
}

.post-image {
  width: 760px;
  height: auto;
}

.post-date {
  position: absolute;
  width: 65px;
  height: 65px;
  background: #fff;
  left: 20px;
  top: 20px;
  text-align: center;
  /* padding: 10px; */
  padding-top: 5px;
}

.day {
  font-weight: bold;
  font-size: 24px;
  color: #3a414e;
}

.month {
  text-transform: uppercase;
  color: #a8a8a8;
  font-size: 12px;
}

.post-link:link,
.post-link:visited {
  color: #ffb938;
  font-size: 26px;
  text-decoration: none;
}

.post-link:hover {
  color: #797979;
}

.post-widget-list {
  list-style: none;
}

.widget-item::after {
  content: "|";
  margin-left: 20px;
}

.widget-item:last-child::after {
  content: "";
}

.widget-item {
  color: #797979;
  display: inline-block;
  margin-left: 20px;
  font-size: 12px;
}

.widget-item:first-child {
  margin-left: 0;
}

.author {
  font-style: italic;
  color: #3a414e;
  font-weight: bold;
}

.read-more:link,
.read-more:visited {
  border: 1px solid #3a414e;
  text-decoration: none;
  color: #ffb938;
  padding: 10px 40px;
  background: #3a414e;
  display: inline-block;
  font-size: 14px;
}

.read-more:hover {
  color: #fff;
}

.share {
  display: flex;
  gap: 30px;
}

.social-count {
  margin-left: 8px;
}
.social-media:link {
  text-decoration: none;
  color: #ffb938;
}

.social-media:visited {
  color: #3a414e;
}

.social-media:hover {
  color: #ffb938;
}
