@import "header.css";
@import "posts.css";
@import "asides.css";
@import "footer.css";
@import "blog-post.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "poppins", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 40px;
  row-gap: 40px;
  width: 1100px;
  margin: 0 auto;
  margin-bottom: 40px;
  /* border: 1px solid black; */
}

.row {
  grid-column: 1;
  row-gap: 40px;
}

.landing {
  grid-column: 1 / -1;
  position: relative;
}

.landing-text {
  position: absolute;
  left: 120px;
  top: 100px;
  color: #fff;
  font-size: 50px;
}

.landing-img {
  width: 100%;
  height: auto;
}
